
     /* reset */
   *{margin:0px;
     padding:0px;}
     
     /* header */
     header{background-image:url('background.jpg');
     background-size:cover;
     border-bottom:7px solid grey;
     padding:10px;} 
     
     
     header img { 
      width:100px;
      padding:20px;
     }
     
    h1{padding:10px;}
    p{padding:6px;}
    .mail{padding:10px;
    
    width:90%;}
    
  .btn button {width:100%;
    padding :10px;
    color: white;
    background: grey;
    Text-align:left;
    font-size:16px;
   }
     /* input */
     
     input{
     background:grey;
     border:1px solid white;
     padding :10px ; 
     background-color:white;      }
     
     
     
     /* links */
     
     a{
     text-decoration:none;
     color:white;
     }
     
    footer a{
    text-decoration:none;
     color: grey;

     }
     
     
     /* images */
     
     img{
      width:50%;
     padding: 20px;
     margin:5px;
     position:relative;
         left:-60px;
     }
     
     
     /* button */
    .sbutton{ color: white;
    background: red;
    margin:20px;
    border:0px;
    padding:5px;
    width:60px;
    border-radius:4px;
    float: right;    

}
    
    .gbutton{ color: white;
    background: red;
    margin-top:20px;
    margin-bottom:50px;
    border:0px;
    padding:10px;
    width:110px;
    border-radius: 4px;}
    
    /* main body */
    body {
        background: black;
        color: white;
        Text-align:center ;
    }
    /* enjoy */
    .enjoy{
           border-bottom:7px solid grey ;
    }
    
    /* eleven */
    
.eleven{   border-bottom:7px solid grey ;}

/* watch */
.watch{    border-bottom:7px solid grey ;}


/* kids */
.kids{   border-bottom:7px solid grey ;}
/* freq */
.freq{   border-top:7px solid grey ;
 ;
}



 
 